.cart {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  padding: 1rem;
}

.headline {
  cursor: pointer;
  text-transform: uppercase;
}

.cart-content.hidden {
  max-height: 0;
}

.cart-content {
  transition: max-height 0.3s ease-out;
  max-height: 380px;
  overflow: hidden;
}

.cart-items {
  overflow: auto;
  max-height: 300px;
  padding: 0 0.5rem;
}

.cart-actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.cart-actions button {
  margin-left: 0.2rem;
}
